html {
  overflow-y: scroll;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  height: 60px;
}

.download-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.download-button:hover,
.download-button:focus {
  text-decoration: none;
}
